@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.body{
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgba(29, 26, 26, 0.897), rgb(48, 48, 204), purple);
    background-size: 400% 400%;
    font-family: 'amatic sc', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: b 8s ease-in-out infinite;
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.links{
    margin-top: 1rem;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: flex;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.07);

}

a:hover{
    color: #085078;
    background-color: white;
    
}

@keyframes b{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}